.flash { 
    padding-left: 15px;
    padding-right: 10px;   
    padding-bottom: 5px;
}

#flash_notice {
  color: green;
}

#flash_warning { 
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

div.error {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      margin-bottom: 0px;
      color: #fff;
  }
  .group {
      background-color: #f0f0f0;
      border: 2px solid;
      padding: 7px;
      padding-bottom: 0;
  }
  .error_explaination {
      border-color: red;
      h2 {
	  background-color: #c00;
      }
  }
  .debug {
      margin-top: 15px;
      border-color: blue;
      h2 {
	  background-color: blue;
      }
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}